<div class="home-container" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card>
        <img class="home-image" src="/assets/img.jpg">
    </mat-card>
    <mat-card>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis orci non efficitur congue. Duis in
            interdum purus.
            In hac habitasse platea dictumst. Maecenas quis hendrerit est, vitae interdum nulla. Sed a lorem eget ex
            facilisis
            blandit et eu magna. Aliquam condimentum ultrices ex, sed efficitur mauris vehicula a. Vivamus nec nisl
            sagittis, mattis
            elit pulvinar, feugiat diam. Integer neque nulla, pretium vitae felis viverra, maximus venenatis massa.
            Quisque
            vestibulum velit nunc, non interdum augue placerat a. Etiam et vulputate mauris, quis semper nisl. Duis
            eget
            mauris sed
            massa porttitor vehicula. In in turpis porta, luctus ipsum sed, convallis ipsum. Nam fermentum mollis
            scelerisque.
        </p>
        <p>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam tristique
            ipsum non
            maximus consectetur. Nunc et lorem ultrices nisl efficitur varius eu nec sapien. Mauris enim arcu,
            fringilla
            vitae
            tortor ac, bibendum vulputate lorem. Vivamus aliquam non neque eu iaculis. Aliquam vitae vestibulum
            diam.
            Integer quis
            neque vel dui volutpat tempus ac placerat enim. Phasellus vitae nisi eget enim vulputate malesuada ac
            nec
            neque. Mauris
            congue bibendum tempus. Integer vitae lacus sit amet ipsum commodo pulvinar nec vel sapien. Nullam vitae
            nunc et magna
            pulvinar sollicitudin. Sed vitae ante et diam malesuada lobortis id non nunc. In pulvinar est hendrerit
            consectetur
            porta. Cras tristique metus eu justo volutpat feugiat. Nullam non venenatis elit. Nam finibus convallis
            magna in
            imperdiet.
        </p>
        <p>
            Fusce iaculis purus nibh, sit amet auctor risus sollicitudin ac. Ut vehicula vitae arcu in tincidunt.
            Etiam
            maximus
            accumsan imperdiet. Ut porta magna eu ligula ullamcorper tempor. Aenean sapien neque, ornare eget
            sollicitudin quis,
            fermentum sit amet justo. Phasellus ultricies velit at nisl vestibulum, ut scelerisque elit fringilla.
            Nullam viverra
            magna eget lacus facilisis maximus. Integer efficitur pharetra tempor. Vivamus sodales ante auctor,
            fermentum lacus
            eget, faucibus elit. Praesent lacinia feugiat odio. Sed vitae convallis sem.
        </p>
        <p>
            Nullam aliquam, erat id laoreet scelerisque, lectus sem consequat nisl, eu ultricies risus mi dignissim
            felis.
            Pellentesque facilisis urna vel eros lacinia, vitae iaculis neque egestas. Nullam non est ac nunc
            facilisis
            dapibus in
            eget leo. Vestibulum at orci nibh. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur
            ridiculus
            mus. Sed ipsum tortor, viverra et fringilla id, tristique id justo. Proin pretium velit dui, vitae
            pellentesque arcu
            lacinia vitae. Vivamus pulvinar cursus justo dictum consectetur. Etiam vitae interdum neque.
            Pellentesque eu
            purus nec
            eros placerat faucibus. Proin condimentum orci ac urna imperdiet molestie. Quisque tincidunt malesuada
            arcu,
            vestibulum
            sagittis dolor ullamcorper dictum. Sed turpis purus, finibus non nulla ac, cursus mollis mi. Duis
            malesuada
            ex sed dui
            gravida, eget facilisis mi aliquet. Morbi ullamcorper felis ante, eu eleifend erat pulvinar in.
        </p>
        <p>
            Fusce pharetra at sapien ac ultricies. Aenean venenatis sem in ullamcorper feugiat. Etiam vel lacus
            elementum, vulputate
            dui vitae, pellentesque eros. Aliquam congue turpis vel ex lacinia, interdum tincidunt tortor porttitor.
            Fusce et libero
            magna. Suspendisse pulvinar blandit mauris pulvinar feugiat. In nec ex non dui tempus dapibus. Mauris
            tempor
            quis lectus
            a posuere. Aliquam erat volutpat. Nulla congue efficitur ipsum, sit amet molestie arcu. Pellentesque dui
            libero, luctus
            eget interdum non, lacinia non lacus. Nulla facilisi.
        </p>
    </mat-card>
</div>